name: Unittest

on:
  push:
    branches:
      - main
  pull_request: {}

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        tf-version: [1.15.5, 2.0.4, 2.1.4, 2.2.3, 2.3.3, 2.4.2, 2.5.0, 2.6.0, 2.7.0rc0]
        python-version: [3.7]
        include:
          - tf-version: 2.4.2
            python-version: 3.6
          - tf-version: 2.4.2
            python-version: 3.8
          - tf-version: 2.5.0
            python-version: 3.9
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{matrix.python-version}}
      - name: Fix h5py for older TF versions
        run: pip install 'h5py<3.0.0'
        if: matrix.tf-version == '1.15.5' || matrix.tf-version == '2.0.4' || matrix.tf-version == '2.1.4'
      - name: Fix TFDS for older TF versions
        run: pip install tensorflow_datasets==3.2.*
        if: matrix.tf-version == '1.15.5' || matrix.tf-version == '2.0.4'
      - name: Install dependencies
        run: |
          pip install tensorflow-cpu==${{matrix.tf-version}} || pip install tensorflow==${{matrix.tf-version}}
          pip install -e .[test]
      - name: Test data and models with pytest
        run: pytest . -n auto --ignore=tests/train_test.py --cov=larq_zoo --cov-report=xml --cov-config=.coveragerc
      - name: Upload coverage to Codecov
        run: bash <(curl -s https://codecov.io/bash) -f ./coverage.xml -F unittests

  train-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Install dependencies
        run: pip install tensorflow-cpu==2.6.0 -e .[test]
      - name: Test training with pytest
        run: pytest tests/train_test.py -n auto --cov=larq_zoo --cov-report=xml --cov-config=.coveragerc --cov-append
      - name: Upload coverage to Codecov
        run: bash <(curl -s https://codecov.io/bash) -f ./coverage.xml -F unittests
